<p>
  <mat-toolbar color="primary">
    <span routerLink="">BookMyMovie</span>
    <span class="example-spacer"></span>
    <button
      mat-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
      routerLink="app-add-data"
    >
      Add Movie Booking
    </button>
    <button
      mat-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      routerLink="app-list-data"
    >
      List Movie Bookings
    </button>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
