<div class="add-post-container">
  <mat-card>
    <mat-card-content>
      <h2>Create Post</h2>
      <form
        [formGroup]="createForm"
        (ngSubmit)="createPost(createForm.value)"
        class="create-post-form"
      >
        <mat-form-field class="post-title">
          <mat-label>Title</mat-label>
          <input
            type="text"
            matInput
            formControlName="title"
            placeholder="Post Title"
          />
        </mat-form-field>
        <mat-form-field class="post-description">
          <mat-label>Description</mat-label>
          <input
            type="text"
            matInput
            formControlName="description"
            placeholder="Post Description"
          />
        </mat-form-field>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          aria-label="SubmitPost"
        >
          <div>Post</div>
          <mat-icon>send</mat-icon>
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
