<div class="form-body">
  <!-- <form
    autocomplete="off"
    [formGroup]="createForm"
    (ngSubmit)="onCreate(createForm.value)"
  >
    <div>
      <label>Title: </label>
      <input type="text" formControlName="title" autocomplete="off" />
    </div>
    <div>
      <label>Description: </label>
      <input type="text" formControlName="description" autocomplete="off" />
    </div>
    <button type="submit">Submit</button>
  </form> -->
  <app-add-post></app-add-post>
  <app-posts></app-posts>
  <app-update-post></app-update-post>
</div>
