@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

.logo {
    font-family: 'Delicious Handrawn', cursive;
    text-transform: none;
    font-size: 2.75rem;
    font-weight: normal;
}